ion-toggle {
	height: 5px;
	width: 65px;

	padding: 12px;

	--background: #ddd;
	--background-checked: #ddd;

	--handle-background: rgb(79 70 229 / 1);
	--handle-background-checked: rgb(79 70 229 / 1);

	--handle-width: 15px;
	--handle-height: 17px;
	--handle-max-height: auto;
	--handle-spacing: 6px;

	--handle-border-radius: 50%;
	--handle-box-shadow: none;

	/* Required for iOS handle to overflow the height of the track */
	overflow: visible;
	contain: none;
}

ion-popover { 
	
}
