@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@300;400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;600;900&family=Open+Sans:wght@300;400;600;900&family=Roboto+Slab:wght@300;400;600;900&display=swap");

p {
	line-height: 1.6em;
}
iframe {
	width: 100%;
}

/* EXTRA CSS TO CLEAN UP BETTER */
figcaption {
	margin: 0 0 10px 0;
	text-align: left;
	font-size: 10px;
}

/* IL POST */
.ilpostShare {
	display: none;
}
.leggi-anche {
	display: block;
	color: blue;
	font-weight: 900;
	text-align: left;
	margin: 10px 0;
}

a {
	display: block;
	color: rgb(144, 182, 214);
	font-weight: 900;
}

figure.wp-block-image {
	padding: 20px 0;
}

/*UNAPAROLAALGIORNO*/
.content > .word-commento > p > a.linked-word {
	display: inline;
	text-decoration: solid;
	text-decoration-color: #d92929 !important;
	color: #d92929 !important;
}
.content > .word-etimo {
	padding: 10px 0;
}
.content > .word-datapub,
.content > #word-message,
.col.col-md-10.offset-md-1.col-lg-8.offset-lg-2 > h1 {
	display: none;
}

/*ULTIMO UOMO*/

.post_content > p > b {
	display: block;
	margin-top: 20px;
}

/* TWEET */
.twitter-tweet {
	padding: 20px;
	background-color: white;
	border: 1px solid #ececec;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 0px rgb(227 227 227 / 75%);
	margin: 25px 0;
}
.twitter-tweet > p {
	font-size: 0.8rem;
}
.twitter-tweet > p > a {
	color: rgba(0, 0, 0, 0.7);
}

/* APPLE INSIDER*/

h1.h1-adjust,
.avatarLG-article.img-circle.no-left-gutters,
#hero-cap,
#article-social,
.embed,
.feat {
	display: none;
}

.row > .article-lead {
	padding-top: 20px;
}
.row > .article-lead > a,
.col-sm-12 > p > a {
	display: inline;
}
.col-sm-12 > figure {
	padding: 20px 0 10px;
}
